<ion-view view-title="Return">
  <ion-content>
<h1>Return Item</h1>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Item ID</span>
        <input type="number" placeholder="Item ID">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Return Date</span>
        <input type="text" placeholder="Return Date  : yyyy/mm/dd ">
      </label>
    </div>
    <button class="button button-block button-positive">
      submit
    </button>
  </ion-content>
</ion-view>
